.works_title{
    font-weight: 400;
    font-size: 22px;
    
    color: #21243D;
    padding-top: 15px;
    
}

.home{
    padding-bottom: 90px ;
}

@media (max-width: 670px) {
    .works_title {
        margin-left: 25px;
    }
}