.footer_wrapper{
   text-align: center;
   padding: 54px;
}

.social_items{
    display: flex;
    justify-content: center;
    
    gap: 35px;
    
}

img{
    width: 30px;
    height: 30px; 
    margin-bottom: 26px;
}