@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;500;600;700&display=swap');

.container{
    display: flex;
    gap: 40px;
    margin: 140px 0 70px;
}

.header_wrapper{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title{
    font-weight: 700;
    font-size: 44px;
    color: #21243D;
}

.text{
    color: #21243D;
    font-size: 16px;
    font-weight: 400;
}


.avatar img{
    width: 243px;
    height: 243px;
}

.button{ 
    width: 208px;
    height: 47px;

    background: #FF6464;
    color: white;
    border-radius: 2px;
    border: none;

    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
   
}

@media (max-width: 1200px) {
    .container{
        padding: 0 25px;
    }
}

@media (max-width: 670px) {
    .container{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .header_wrapper{
        align-items: center;
    }
}

